body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e68c;
}

header {
    background: linear-gradient(to right, #ffa500, #ff4500);
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    margin: 20px;
}

section {
    flex: 3;
    margin-right: 20px;
}

aside {
    flex: 1;
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
}

section img.float-img {
    float: left;
    margin: 0 15px 15px 0;
    border: 5px solid #ccc;
    border-radius: 10px;
}

footer {
    background: linear-gradient(to right, #ff4500, #ffa500);
    color: white;
    text-align: center;
    padding: 10px 0;
}

h2 {
    font-size: 2em;
    color: #ff4500;
}

h3 {
    font-size: 1.5em;
    color: #ffa500;
}

p {
    font-size: 1em;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    section {
        margin-right: 0;
    }

    aside {
        margin-top: 20px;
    }
}